body {
  background: rgb(204, 236, 255) 100%;
  font-family: sans-serif;
  color: rgb(7, 3, 42);
}

h1 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px 10px 0px;
  font-size: 70px;
}

select {
  background-color: rgb(204, 236, 255) 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 75%;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  color: rgba(7, 3, 42, 0.834);
}

footer {
  text-align: center;
  padding: 30px;
  color: rgba(0, 0, 0, 0.666);
}

.bodyBlock {
  background-color: rgb(193, 223, 255);
  color: black;
  width: 50%;
  height: 700px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 26px 9px rgba(10, 4, 68, 0.5);
}

.block {
  padding: 30px;
}

.city,
.date {
  display:;
  justify-content: left;
}

.city {
  font-size: 40px;
  font-weight: 700;
}

.date {
  font-size: 20px;
}

.time {
  position: relative;
  top: -50px;
  right: -90%;
  font-size: 20px;
}

.line {
  margin: 0 auto;
  width: 95%;
  border-top: 3px dotted rgba(10, 4, 68, 0.5);
}
